body{
    height: 100%;
    margin: 0;
    padding: 0;
}

.header_title{
    background-color: burlywood;
    background-size: contain;
    text-align: center;

    }
.head_title{
    display: inline-block;
       }
.fon{
    display: inline-block;
    list-style: none;
    position: relative;
    left: 30%;
    bottom: 8px;
}

.head_bottom{
    margin: 0;
    background-color: orange;
    background-size: contain;
    padding: 1px;
    height: 100px;

}
.logo{
    display: inline-block;
    position: relative;
    left: 60px;
    bottom: 10px;

}
.sub_logo{
    display: inline-block;
    position: relative;
    left: 4px;
    top: 16px;
}
.nav{
        float: right;
}
.nav ul li{
    float: left;
}
.nav ul li a{
    text-decoration: none;
    display: block;
    padding: 20px;

}
.nav ul li  {
    list-style: none;
    }
.clearfix:after {
    display: block;
    clear: both;
    content: '';
}
.clearfix:before {
    display: block;
    clear: both;
    content: '';
}